__pycache__/
*.pyc

.DS_Store
venv/

.env.local
extracted_text_log.txt

data/*

!data/videos/
!data/cache/
!data/slides/

data/videos/*
!data/videos/info.txt

data/cache/*
!data/cache/.gitkeep

data/slides/*
!data/slides/.gitkeep
